{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<section id="newsSection">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="latest_newsarea"> <span>Flash News</span>
        <ul id="ticker01" class="news_sticker">
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">ఆ అమ్మాయి చచ్చిపోబోతోంది.‘నువ్వు చచ్చిపోతావా’ ఆ యువకుడు అడిగాడు</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">ఆ అమ్మాయి చచ్చిపోబోతోంది.‘నువ్వు చచ్చిపోతావా’ ఆ యువకుడు అడిగాడు</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">ఆ అమ్మాయి చచ్చిపోబోతోంది.‘నువ్వు చచ్చిపోతావా’ ఆ యువకుడు అడిగాడు</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">ఆ అమ్మాయి చచ్చిపోబోతోంది.‘నువ్వు చచ్చిపోతావా’ ఆ యువకుడు అడిగాడు</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">ఆ అమ్మాయి చచ్చిపోబోతోంది.‘నువ్వు చచ్చిపోతావా’ ఆ యువకుడు అడిగాడు</a></li>
          <li><a href="#"><img src="images/news_thumbnail3.jpg" alt="">ఆ అమ్మాయి చచ్చిపోబోతోంది.‘నువ్వు చచ్చిపోతావా’ ఆ యువకుడు అడిగాడు</a></li>
        </ul>
        <div class="social_area">
          <ul class="social_nav">
            <li class="facebook"><a href="#"></a></li>
            <li class="twitter"><a href="#"></a></li>
            <!-- <li class="flickr"><a href="#"></a></li> -->
            <!-- <li class="pinterest"><a href="#"></a></li> -->
            <li class="googleplus"><a href="#"></a></li>
            <!-- <li class="vimeo"><a href="#"></a></li> -->
            <li class="youtube"><a href="#"></a></li>
            <li class="mail"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        <div class="single_iteam"> <a href="pages/single_page.html"> <img src="images/slider_img4.jpg" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/single_page.html">నవుల మనుగడ కోసం దేవుడు ఈ ప్రపంచంలో రకరకాల సంపదలు సృష్టించాడు.</a></h2>
            <p>కీరదోసలో 96 శాతం నీరే. ఈ నీరు ఎండాకాలంలో దేహాన్ని డీహైడ్రేషన్‌కు గురికాకుండా కాపాడుతుంది.</p>
          </div>
        </div>
        <div class="single_iteam"> <a href="pages/single_page.html"> <img src="images/slider_img2.jpg" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/single_page.html">బేరియాట్రిక్‌ సర్జరీ... బాగా లావుగా ఉన్న వాళ్లకు,ఆ స్థూలకాయం వల్ల ప్రాణహాని ఉన్నవాళ్లకు చేసే శస్త్రచికిత్సా విధానం.</a></h2>
            <p>కీరదోసలో 96 శాతం నీరే. ఈ నీరు ఎండాకాలంలో దేహాన్ని డీహైడ్రేషన్‌కు గురికాకుండా కాపాడుతుంది.</p>
          </div>
        </div>
        <div class="single_iteam"> <a href="pages/single_page.html"> <img src="images/slider_img3.jpg" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/single_page.html">కీరదోసలో 96 శాతం నీరే. ఈ నీరు ఎండాకాలంలో దేహాన్ని డీహైడ్రేషన్‌కు గురికాకుండా కాపాడుతుంది.</a></h2>
            <p>బేరియాట్రిక్‌ సర్జరీ... బాగా లావుగా ఉన్న వాళ్లకు,ఆ స్థూలకాయం వల్ల ప్రాణహాని ఉన్నవాళ్లకు చేసే శస్త్రచికిత్సా విధానం.</p>
          </div>
        </div>
        <div class="single_iteam"> <a href="pages/single_page.html"> <img src="images/slider_img1.jpg" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/single_page.html">బేరియాట్రిక్‌ సర్జరీ... బాగా లావుగా ఉన్న వాళ్లకు,ఆ స్థూలకాయం వల్ల ప్రాణహాని ఉన్నవాళ్లకు చేసే శస్త్రచికిత్సా విధానం.</a></h2>
            <p>ఆర్ధిక స్థోమత కలిగిన ప్రతి ఒక్కరూ జకాత్‌ చెల్లించాలి. హజ్రత్‌ అబూసయీద్‌ ఖుద్రీ(ర)ప్రకారం ముహమ్మద్‌ ప్రవక్త(స) ఇలా</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Latest News</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            <li>
              <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
              </div>
            </li>
            <li>
              <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
              </div>
            </li>
            <li>
              <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
              </div>
            </li>
            <li>
              <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
              </div>
            </li>
            <li>
              <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
              </div>
            </li>
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_post_content">
          <h2><span><!-- బిజినెస్ --> Story Board</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
              <li>
                <figure class="bsbig_fig"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img1.jpg"> <span class="overlay"></span> </a>
                  <figcaption> <a href="pages/single_page.html">విజయాల వేటలో మీరెక్కడ?</a> </figcaption>
                  <p>విజయం రుచి చూసినవారు దాన్ని వదులుకోవటానికి ఇష్టపడరు.</p>
                </figure>
              </li>
              <li>
                <figure class="bsbig_fig"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img1.jpg"> <span class="overlay"></span> </a>
                  <figcaption> <a href="pages/single_page.html">విజయాల వేటలో మీరెక్కడ?</a> </figcaption>
                  <p>విజయం రుచి చూసినవారు దాన్ని వదులుకోవటానికి ఇష్టపడరు.</p>
                </figure>
              </li>
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title">హాయ్‌ రామ్, నేను నాలుగేళ్ల నుండి సాఫ్ట్‌వేర్‌ జాబ్‌ చేస్తున్నాను</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
<!-- <div class="fashion_technology_area">
<div class="fashion">
<div class="single_post_content">
<h2><span>క్రీడలు</span></h2>
<ul class="business_catgnav wow fadeInDown">
<li>
<figure class="bsbig_fig"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
<figcaption> <a href="pages/single_page.html">ఆ క్రికెటర్ ను ప్రతీ జట్టు కోరుకుంటుంది</a> </figcaption>
<p>చాంపియన్స్ ట్రోఫీలో ఆస్ట్రేలియాతో జరిగిన వన్డేలో సెంచరీతో ఆకట్టుకున్న ఇంగ్లండ్ ఆల్ రౌండర్ </p>
</figure>
</li>
</ul>
<ul class="spost_nav">
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title"> బ్యాటింగ్, బౌలింగ్, ఫీల్డింగ్ల్లో స్టోక్స్ ది ప్రత్యేక స్థానం. అతనొక కీలకమైన ఆల్ రౌండర్. </a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title"> నిన్నటి మ్యాచ్ లో చాలా పరుగుల్ని స్టోక్స్ సేవ్ చేశాడు. దాంతో పాటు బౌలింగ్ లో కూడా మెరిశాడు</a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title">  మా జట్టులో స్టోక్స్ ఉండటం నిజంగా అదృష్టం.  ఏదో రకంగా జట్టుకు ఉపయోగపడుతూనే ఉంటాడు.</a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title">నిన్నటి మ్యాచ్ లో చాలా పరుగుల్ని స్టోక్స్ సేవ్ చేశాడు. దాంతో పాటు బౌలింగ్ లో కూడా మెరిశాడు</a> </div>
</div>
</li>
</ul>
</div>
</div>
<div class="technology">
<div class="single_post_content">
<h2><span>సినిమా</span></h2>
<ul class="business_catgnav">
<li>
<figure class="bsbig_fig wow fadeInDown"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img3.jpg"> <span class="overlay"></span> </a>
<figcaption> <a href="pages/single_page.html">పరదేశీ మామ ఎక్కడున్నాడు?</a> </figcaption>
<p>పవన్ కళ్యాణ్ మామ కోసం గాలింపు</p>
</figure>
</li>
</ul>
<ul class="spost_nav">
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title"> వచ్చే ఏడాది ప్రభాస్ బాలీవుడ్ ఎంట్రీ.. కరణ్ జోహర్, జక్కన్న మంతనాల జోరు</a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title">వచ్చే ఏడాది ప్రభాస్ బాలీవుడ్ ఎంట్రీ.. కరణ్ జోహర్, జక్కన్న మంతనాల జోరు</a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title">వచ్చే ఏడాది ప్రభాస్ బాలీవుడ్ ఎంట్రీ.. కరణ్ జోహర్, జక్కన్న మంతనాల జోరు</a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title"> వచ్చే ఏడాది ప్రభాస్ బాలీవుడ్ ఎంట్రీ.. కరణ్ జోహర్, జక్కన్న మంతనాల జోరు</a> </div>
</div>
</li>
</ul>
</div>
</div>
</div> -->
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">
  <aside class="right_content">
    <div class="single_sidebar">
      <h2><span>Popular Post</span></h2>
      <ul class="spost_nav">
        <li>
          <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> మూడో రోజూ క్షీణించిన బంగారం ధర </a> </div>
          </div>
        </li>
        <li>
          <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> ఐఫోన్ యూజర్ల డేటాకు ముప్పు   </a> </div>
          </div>
        </li>
        <li>
          <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> ఇన్ఫీని బీట్ చేసిన సుజుకీ..దేనిలో? </a> </div>
          </div>
        </li>
        <li>
          <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
            <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> 75 లక్షల గృహ రుణంపై వడ్డీ తగ్గింపు</a> </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="single_sidebar">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Videos</a></li>
        <!-- <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li> -->
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="video">
          <div class="vide_area">

            <div class="span8">
              <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>      </div>
                    <div class="item">
                      <iframe width="100%" height="250" src="https://www.youtube.com/embed/XGSy3_Czz8k" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                    <div class="item">
                      <iframe width="100%" height="250" src="https://www.youtube.com/embed/XGSy3_Czz8k?playlist=XGSy3_Czz8k&loop=1" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
              </div>


              <!-- <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe> -->
            </div>
          </div>
<!--    <div role="tabpanel" class="tab-pane" id="comments">
<ul class="spost_nav">
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title"> మూడో రోజూ క్షీణించిన బంగారం ధర </a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title">ఐఫోన్ యూజర్ల డేటాకు ముప్పు </a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title"> ఇన్ఫీని బీట్ చేసిన సుజుకీ..దేనిలో? </a> </div>
</div>
</li>
<li>
<div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
<div class="media-body"> <a href="pages/single_page.html" class="catg_title">75 లక్షల గృహ రుణంపై వడ్డీ తగ్గింపు  </a> </div>
</div>
</li>
</ul>
</div> -->
</div>
</div>
</aside>
</div>
</div>
</section>


{% endblock content %}
